main {
  padding-top: 2rem;
}
.package {
  border: 4px solid #034d17;
  border-left: none;
  background: rgba(213, 255, 220, 0.95);
  margin: 1rem 0px;
  width: 80%;
  position: relative;
  z-index: 1;
}
.package a {
  text-decoration: none;
  color: black;
  padding: 2rem;
  display: block;
}

.package .package__title {
  font-weight: bold;
}
.package .package__subtitle {
  color: #979797;
}

.package .package__info {
  border: 1px solid #034d17;
  background-color: white;
  padding: 1rem;
  color: #034d17;
  font-size: 1.2rem;
}

.package:active,
.package:hover,
#free:active,
#free:hover {
  border-color: red;
}

#free {
  text-align: right;
  border-left: 4px solid #034d17;
  float: right;
  border-right: none;
}

.clearfix {
  clear: both;
}

#premium,
#premium .package__title {
  background: #034d17;
  color: white;
}

.background {
  background: url(../images/plans-background.jpg) center/cover;
  filter: grayscale(40%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.package__badge {
  background: rgb(238, 66, 66);
  padding: 0.5rem;
  color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
  font-size: 0.8rem;
  margin: 1.2rem;
  z-index: 10;
}
