@font-face {
  font-family: "AnonymousPro";
  src: url("anonymousPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "AnonymousPro";
  src: url("anonymousPro-Bold.ttf") format("truetype");
  font-weight: 700;
}

main {
  padding-top: 2rem;
}
.package {
  border: 4px solid #034d17;
  border-left: none;
  background: rgba(213, 255, 220, 0.95);
  margin: 1rem 0px;
  width: 80%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.package a {
  text-decoration: none;
  color: black;
  padding: 2rem;
  display: block;
}

.package .package__title {
  font-weight: bold;
}
.package .package__subtitle {
  color: #979797;
}

.package .package__info {
  border: 1px solid #034d17;
  background-color: white;
  padding: 1rem;
  color: #034d17;
  /* font-size: 1.2rem;
  font-family: "Anonymous Pro", sans-serif;
  font-weight: 700; */
  font: 700 1.2rem "Anonymous Pro", sans-serif;
  /* font-style font-variant font-weight font-size/line-height font-family*/

  /* font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic; */
}

.package:active,
.package:hover,
#free:active,
#free:hover {
  border-color: red;
  animation: push-up 500ms 0.1s ease-in forwards;
}

#free {
  text-align: right;
  border-left: 4px solid #034d17;
  float: right;
  border-right: none;
}

.clearfix {
  clear: both;
}

#premium,
#premium .package__title {
  background: #034d17;
  color: white;
}

.background {
  background: url(../images/plans-background.jpg) center/cover;
  filter: grayscale(40%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.package__badge {
  background: rgb(238, 66, 66);
  padding: 0.5rem;
  color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
  font-size: 0.8rem;
  margin: 0;
  z-index: 10;
  /* transform: rotateZ(45deg) translateX(3.5rem) translateY(-1rem); */
  transform: rotateZ(45deg) translate(3.5rem, -1rem);
  transform-origin: center;
  width: 12rem;
  text-align: center;
}

@media (min-width: 40rem) {
  main {
    /* margin: 3rem auto; */
    max-width: 1500px;
  }
}

@media (min-width: 1500px) {
  .package {
    border-left: 4px solid #034d17;
  }

  #free {
    border-right: 4px solid #034d17;
  }
}

@keyframes push-up {
  0% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-1.5rem);
  }
  100% {
    transform: translateY(-1rem);
  }
}
